<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>CoronaVirus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/stsm.css" th:href="@{/css/stsm.css}" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>
</head>

<body>
<div class="container">

	<h1>Corona Virus Tracker Application</h1>
	<p>This application lists the current number of cases</p>
	
	<div class="jumbotron">
  <h1 class="display-4" th:text="${#numbers.formatDecimal(totalDeath,0,'COMMA',0,'COMMA')}"></h1>
  <p class="lead">Total Death Reported as of today!</p>
  <hr class="my-4">
  <p>
  <span>New Death Reported since Yesterday: </span>
  <span th:text="${#numbers.formatDecimal(totalNewDeath,0,'COMMA',0,'COMMA')}"></span>
  </p>
</div>

<div class="container">
	<a href="home"><button type="button" class="btn btn-danger btn-lg">Infection</button></a>
</div>
<hr class="my-4">

<div class="container">	
	<table class="table">
		<tr>

			<th>Country</th>
			<th>State</th>
			<th>Total Death</th>
			<th>Changes since last day</th>
		</tr>
		<tr th:each="locationStat : ${deathSats}">
			<td th:text="${locationStat.country}"></td>
			<td th:text="${locationStat.state}"></td>
			<td th:text="${locationStat.latestTotalCases}">0</td>
			<td th:text="${locationStat.diffFromPrevDay}"></td>
		</tr>
	</table>
</div>
</div>
</body>
</html>